body{
	font-family: 'News Cycle', sans-serif;
	background-color: #3e3f41;
	margin: 0;
	padding: 0;
}
img{
    display: block;
    margin: 80px;
    width: 35%;
}
h1{
	color: #f6a800;
	margin: 30px;
	height: 0;
	line-height: 0;
}
#email{
	width: 200px;
	height: 40px;
	line-height: 0;
}
#passw{
	width: 200px;
	height: 40px;
	line-height: 0;
}

